{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <div class="container ">
    <h3 class="text-center text-info">About The Products</h3> <br>
    <p class="text-success"> &nbsp;&nbsp; &nbsp;&nbsp;   All the users can view various products, if they wish to buy any then they have to register and then login to add that product inside their cart. The users or customers can also read the reviews about a product posted by other users before buying it.
        The users can add how many products he/she wants to their shopping cart. Then the users are able to set the quantity of each added product inside the cart. Finally, while checkout the users can give their address and the mode of payment and place the
        respective order. Then the admin can see the customer details with his/her order details and the address where the order should be delivered.
    </p>
    

   <h4 class="text-info"> Shirts</h4>   
    <b> Material: </b>  Typically made from cotton, polyester, or a blend of both. Some T-shirts also use materials like linen, bamboo, or synthetic fibers for added comfort and durability. <br>
   <b> Design:</b>  T-shirts come in a variety of designs, including plain, printed, graphic, and embellished styles. They may have short sleeves, long sleeves, or be sleeveless. 
    Fit: Available in various fits such as slim fit, regular fit, and oversized. <br>
     <b>Neck Style:</b> Common neck styles include crew neck, V-neck, scoop neck, and polo neck.

     <br>
     <hr>
     <h4 class="text-info">Types of Watches:</h4>
     <b>Analog Watches:</b> <br>

        Features: Traditional design with hour, minute, and sometimes second hands. <br>
        Use: Suitable for formal and casual wear. <br>
     <b>Digital Watches:</b> <br>

        Features: Display time in numerical format (HH). <br>
        Use: Ideal for sports and casual wear due to easy readability. <br>
    <b>Smartwatches:</b> <br>

        Features: Connect to smartphones, display notifications, track fitness metrics, GPS, heart rate monitoring.
     <br>
     <hr>

     <h4 class="text-info"> Types of Shoes</h4>
       <b >Athletic Shoes:</b> Designed for sports and physical activities. Examples include running shoes, basketball shoes, and soccer cleats. <br>
       <b>Casual Shoes: </b> Everyday footwear that is comfortable and versatile. Examples include sneakers, loafers, and boat shoes. <br>
       <b>Formal Shoes:</b> Designed for formal occasions and business settings. Examples include oxfords, brogues, and dress loafers. <br> <br>

       <h5 class="text-info">Materials</h5>
        <b>Leather:</b>    Durable and flexible material often used in formal and high-quality shoes. <br>
        <b>Canvas: </b>    Lightweight and breathable material used in casual shoes. <br>
        <b>Synthetic:</b>   Man-made materials that can mimic leather, provide waterproofing, or add specific functionalities. <br>
        <b>Rubber:</b>   Commonly used for soles due to its durability and grip. <br>
<br>
        <hr>
</div>
{% endblock content %}

